body{
    margin: 0px;
    overflow-y: hidden
}

h1{ 
    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 106px;
    
    color: #FFF2F2;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, #105C5C 50%, #00FF75 50%);
}

.titulo{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.left-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb{
    margin-bottom: 1em;
}

.left{
    display: flex;
    align-items: center;    
}

.texto{
    width: 450px;
    height: 280px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;    
}

.button-up{

    width: 282px;
    height: 88px;
    cursor: pointer;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;
    color:#00FF75;
    
    border: 3px solid #FFFAFA;
    border-radius: 30px;
}

.button-up:hover {
    color: #fff;
    background: #00FF75;
}

.button-down{
    width: 282px;
    height: 88px;
    cursor: pointer;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;
    color:#00FF75;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 3px solid #FFFAFA;
    border-radius: 30px;   
}

.button-down:hover {
    color: #fff;
    background: #00FF75;
}

.right{
    display: flex;
    align-items: center;    
}

.right-down{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 500px;
    height: 254px; 
}

a{
    height: 88px;
    color: #FFF2F2;
}

