.texto{
    box-sizing: border-box;

    position: absolute;
    width: 694px;
    height: 362px;
    left: 13px;
    top: 369px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;    
}

h1{
    position: absolute;
    width: 479px;
    height: 115px;
    left: 507px;
    top: 202px;
    
    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 106px;
    
    color: #FFF2F2;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-up{
    box-sizing: border-box;

    position: absolute;
    width: 282px;
    height: 88px;
    left: 197px;
    top: 783px;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;
    color:#00FF75;
    
    border: 3px solid #FFFAFA;
    border-radius: 30px;
}

.button-up:hover {
    color: #fff;
    background: #00FF75;
}

body {
    margin: 0px;
}

.container{
    position: absolute;
    width: 720px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #00FF75;
}

.teste{
    position: absolute;
    width: 720px;
    height: 1024px;
    left: 720px;
    top: 0px;
    background: #105C5C;
}

.img {
    position: absolute;
    width: 646px;
    height: 331px;
    left: 760px;
    top: 384px;    
}

a{
    position: absolute;
    width: 282px;
    height: 88px;
    left: 300px;
    top: 830px;
    color: #FFF2F2;
}

